<a href="https://colab.research.google.com/github/ArpanSM/MachineLearningHackathons/blob/master/JanataHack_Machine_Learning_for_Banking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Loading Data

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
path_train = "/content/drive/My Drive/Work/Datasets/DA_ML_Banking/train_fNxu4vz.csv"
path_test = "/content/drive/My Drive/Work/Datasets/DA_ML_Banking/test_fjtUOL8.csv"
path_sub = "/content/drive/My Drive/Work/Datasets/DA_ML_Banking/sample_submission_HSqiq1Q.csv"

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
rcParams['figure.figsize'] = 15,7

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_csv(path_train)
dft = pd.read_csv(path_test)

In [0]:
df.shape,dft.shape

((164309, 14), (109541, 13))

In [0]:
df.head(1)

    Loan_ID Loan_Amount_Requested  ...  Gender Interest_Rate
0  10000001                 7,000  ...  Female             1

[1 rows x 14 columns]

In [0]:
dft.head(1)

    Loan_ID Loan_Amount_Requested  ... Total_Accounts Gender
0  10164310                27,500  ...             37   Male

[1 rows x 13 columns]

In [0]:
#df.dropna(inplace=True)

## Data - Preprocessing

In [0]:
print(df.isnull().sum())
print("-------------------------------------")
print("-------------------------------------")
print(dft.isnull().sum())

Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64
-------------------------------------
-------------------------------------
Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             4936
Home_Owner                 16711
Annual_Income              16898
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    58859
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
dtype: int64

### Loan_Amount_Requested

In [0]:
#train
df['Loan_Amount_Requested'] = df['Loan_Amount_Requested'].str.replace(',', '').astype(float)
#df['Loan_Amount_Requested'].fillna(14342,inplace=True)

#test
dft['Loan_Amount_Requested'] = dft['Loan_Amount_Requested'].str.replace(',', '').astype(float)
#dft['Loan_Amount_Requested'].fillna(14342,inplace=True)

### Length Employed

In [0]:
df['Length_Employed'].unique(),dft['Length_Employed'].unique()

(array(['< 1 year', '4 years', '7 years', '8 years', '2 years',
        '10+ years', '1 year', nan, '6 years', '9 years', '3 years',
        '5 years'], dtype=object),
 array(['10+ years', '< 1 year', '6 years', '8 years', '1 year', '3 years',
        '2 years', nan, '4 years', '7 years', '5 years', '9 years'],
       dtype=object))

In [0]:
df["Length_Employed"].replace({"< 1 year": "0",
                               "1 year": "1",
                               "2 years": "2",
                               "3 years": "3",
                               "4 years": "4",
                               "5 years": "5",
                               "6 years": "6",
                               "7 years": "7",
                               "8 years": "8",
                               "9 years": "9",
                               "10+ years": "10",
                               }, inplace=True)

df["Length_Employed"] = pd.to_numeric(df["Length_Employed"])
df['Length_Employed'].fillna(7, inplace=True)
print(df['Length_Employed'].unique())

print("-------------------------------------")
print("-------------------------------------")

dft["Length_Employed"].replace({"< 1 year": "0",
                               "1 year": "1",
                               "2 years": "2",
                               "3 years": "3",
                               "4 years": "4",
                               "5 years": "5",
                               "6 years": "6",
                               "7 years": "7",
                               "8 years": "8",
                               "9 years": "9",
                               "10+ years": "10",
                               }, inplace=True)

dft["Length_Employed"] = pd.to_numeric(dft["Length_Employed"])
dft['Length_Employed'].fillna(7, inplace=True)
print(dft['Length_Employed'].unique())

[ 0.  4.  7.  8.  2. 10.  1.  6.  9.  3.  5.]
-------------------------------------
-------------------------------------
[10.  0.  6.  8.  1.  3.  2.  7.  4.  5.  9.]

In [0]:
#sns.countplot(df['Length_Employed'],hue=df['Interest_Rate'])

### Home_Owner

In [0]:
print(df['Home_Owner'].unique())
print("-------------------------------------")
print("-------------------------------------")
print(dft['Home_Owner'].unique())

['Rent' 'Mortgage' nan 'Own' 'Other' 'None']
-------------------------------------
-------------------------------------
['Mortgage' nan 'Rent' 'Own' 'Other' 'None']

In [0]:
print(df['Home_Owner'].value_counts())
print("-------------------------------------")
print("-------------------------------------")
print(dft['Home_Owner'].value_counts())

Mortgage    70345
Rent        56031
Own         12525
Other          49
None           10
Name: Home_Owner, dtype: int64
-------------------------------------
-------------------------------------
Mortgage    46925
Rent        37511
Own          8354
Other          30
None           10
Name: Home_Owner, dtype: int64

In [0]:
#sns.countplot(x=df['Home_Owner'], hue=df['Interest_Rate'])

In [0]:
df["Home_Owner"].replace({"None":"Other"}, inplace=True)
dft["Home_Owner"].replace({"None":"Other"}, inplace=True)

In [0]:
df["Home_Owner"].fillna("Mortgage", inplace=True)
dft["Home_Owner"].fillna("Mortgage", inplace=True)

In [0]:
one_hot = pd.get_dummies(df['Home_Owner'])
df = df.drop('Home_Owner',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(dft['Home_Owner'])
dft = dft.drop('Home_Owner',axis = 1)
dft = dft.join(one_hot)

del df['Other']
del dft['Other']

### Months_Since_Deliquency

In [0]:
print(df['Months_Since_Deliquency'].mode())
print(dft['Months_Since_Deliquency'].mode())

0    9.0
dtype: float64
0    9.0
dtype: float64

In [0]:
df['Months_Since_Deliquency'].fillna(9, inplace=True)
dft['Months_Since_Deliquency'].fillna(9, inplace=True)

### Annual_Income

In [0]:
df['Annual_Income'].mean(),dft['Annual_Income'].mean()

(73331.15943386468, 73485.40712563276)

In [0]:
df['Annual_Income'].fillna(73331,inplace=True)
dft['Annual_Income'].fillna(73485,inplace=True)

### Income_Verified

In [0]:
df['Income_Verified'].unique(),dft['Income_Verified'].unique()

(array(['not verified', 'VERIFIED - income', 'VERIFIED - income source'],
       dtype=object),
 array(['VERIFIED - income', 'not verified', 'VERIFIED - income source'],
       dtype=object))

In [0]:
df["Income_Verified"].replace({"not verified": "NV",
                               "VERIFIED - income": "VI",
                               "VERIFIED - income source": "VIS",
                               }, inplace=True)

dft["Income_Verified"].replace({"not verified": "NV",
                               "VERIFIED - income": "VI",
                               "VERIFIED - income source": "VIS",
                               }, inplace=True)

one_hot = pd.get_dummies(df['Income_Verified'])
df = df.drop('Income_Verified',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(dft['Income_Verified'])
dft = dft.drop('Income_Verified',axis = 1)
dft = dft.join(one_hot)

del df['NV']
del dft['NV']

In [0]:
#sns.countplot(x=df['Income_Verified'], hue=df['Interest_Rate'])

### Purpose_Of_Loan

In [0]:
df['Purpose_Of_Loan'].unique(),dft['Purpose_Of_Loan'].unique()

(array(['car', 'debt_consolidation', 'credit_card', 'home_improvement',
        'major_purchase', 'other', 'medical', 'small_business', 'moving',
        'wedding', 'vacation', 'house', 'educational', 'renewable_energy'],
       dtype=object),
 array(['debt_consolidation', 'credit_card', 'home_improvement', 'other',
        'small_business', 'vacation', 'wedding', 'major_purchase', 'car',
        'house', 'medical', 'renewable_energy', 'moving', 'educational'],
       dtype=object))

In [0]:
df["Purpose_Of_Loan"].replace({"debt_consolidation": "P1",
                               "credit_card": "P2",
                               "home_improvement": "P3",
                               "major_purchase": "P4",
                               "other": "P3",
                               "medical": "P5",
                               "small_business": "P5",
                               "moving": "P5",
                               "wedding": "P5",
                               "vacation": "P5",
                               "house": "P5",
                               "educational": "P5",
                               "renewable_energy": "P5",
                               "car": "P5",
                               }, inplace=True)

dft["Purpose_Of_Loan"].replace({"debt_consolidation": "P1",
                               "credit_card": "P2",
                               "home_improvement": "P3",
                               "major_purchase": "P4",
                               "other": "P3",
                               "medical": "P5",
                               "small_business": "P5",
                               "moving": "P5",
                               "wedding": "P5",
                               "vacation": "P5",
                               "house": "P5",
                               "educational": "P5",
                               "renewable_energy": "P5",
                               "car": "P5",
                               }, inplace=True)

df['Purpose_Of_Loan'].unique(),dft['Purpose_Of_Loan'].unique()

(array(['P5', 'P1', 'P2', 'P3', 'P4'], dtype=object),
 array(['P1', 'P2', 'P3', 'P5', 'P4'], dtype=object))

In [0]:
#sns.countplot(x=df['Purpose_Of_Loan'], hue=df['Interest_Rate'])

In [0]:
one_hot = pd.get_dummies(df['Purpose_Of_Loan'])
df = df.drop('Purpose_Of_Loan',axis = 1)
df = df.join(one_hot)

one_hot = pd.get_dummies(dft['Purpose_Of_Loan'])
dft = dft.drop('Purpose_Of_Loan',axis = 1)
dft = dft.join(one_hot)

del df['P4']
del dft['P4']

### Inquiries_Last_6Mo

In [0]:
df['Inquiries_Last_6Mo'].unique(),dft['Inquiries_Last_6Mo'].unique()

(array([0, 3, 1, 2, 4, 5, 6, 7, 8]), array([0, 2, 1, 3, 6, 4, 5, 7, 8]))

In [0]:
#sns.countplot(x=df['Inquiries_Last_6Mo'], hue=df['Interest_Rate'])

In [0]:
df["Inquiries_Last_6Mo"].replace({0: "0",
                               1: "1",
                               2: "2",
                               3: "3",
                               4: "4",
                               5: "5",
                               6: "5",
                               7: "5",
                               8: "5",
                               }, inplace=True)

dft["Inquiries_Last_6Mo"].replace({0: "0",
                               1: "1",
                               2: "2",
                               3: "3",
                               4: "4",
                               5: "5",
                               6: "5",
                               7: "5",
                               8: "5",
                               }, inplace=True)

df["Inquiries_Last_6Mo"] = pd.to_numeric(df["Inquiries_Last_6Mo"])
dft["Inquiries_Last_6Mo"] = pd.to_numeric(dft["Inquiries_Last_6Mo"])
df['Inquiries_Last_6Mo'].unique(),dft['Inquiries_Last_6Mo'].unique()

(array([0, 3, 1, 2, 4, 5]), array([0, 2, 1, 3, 5, 4]))

### Gender

In [0]:
df["Gender"].replace({"Male":1,"Female":0}, inplace=True)
dft["Gender"].replace({"Male":1,"Female":0}, inplace=True)

### Observation

In [0]:
print(df.dtypes)
print("=================================")
print("=================================")
print(dft.dtypes)

Loan_ID                      int64
Loan_Amount_Requested      float64
Length_Employed            float64
Annual_Income              float64
Debt_To_Income             float64
Inquiries_Last_6Mo           int64
Months_Since_Deliquency    float64
Number_Open_Accounts         int64
Total_Accounts               int64
Gender                       int64
Interest_Rate                int64
Mortgage                     uint8
Own                          uint8
Rent                         uint8
VI                           uint8
VIS                          uint8
P1                           uint8
P2                           uint8
P3                           uint8
P5                           uint8
dtype: object
=================================
=================================
Loan_ID                      int64
Loan_Amount_Requested      float64
Length_Employed            float64
Annual_Income              float64
Debt_To_Income             float64
Inquiries_Last_6Mo           int64
Months_Since_Deliquency    float64
Number_Open_Accounts         int64
Total_Accounts               int64
Gender                       int64
Mortgage                     uint8
Own                          uint8
Rent                         uint8
VI                           uint8
VIS                          uint8
P1                           uint8
P2                           uint8
P3                           uint8
P5                           uint8
dtype: object

In [0]:
df.describe(include='all')

            Loan_ID  Loan_Amount_Requested  ...             P3             P5
count  1.643090e+05           164309.00000  ...  164309.000000  164309.000000
mean   1.008216e+07            14349.33692  ...       0.107207       0.057660
std    4.743207e+04             8281.86870  ...       0.309377       0.233099
min    1.000000e+07              500.00000  ...       0.000000       0.000000
25%    1.004108e+07             8000.00000  ...       0.000000       0.000000
50%    1.008216e+07            12075.00000  ...       0.000000       0.000000
75%    1.012323e+07            20000.00000  ...       0.000000       0.000000
max    1.016431e+07            35000.00000  ...       1.000000       1.000000

[8 rows x 20 columns]

# Scalling

In [0]:
#Robust Scaling
from sklearn.preprocessing import RobustScaler
robust = RobustScaler()
#Loan_Amount_Requested
df['Robust_LAR']=robust.fit_transform(df.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
df['Robust_LE']=robust.fit_transform(df.Length_Employed.values.reshape(-1, 1))
#Annual_Income
df['Robust_AI']=robust.fit_transform(df.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
df['Robust_DTI'] = robust.fit_transform(df.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
df['Robust_IL6'] = robust.fit_transform(df.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
df['Robust_MSD'] = robust.fit_transform(df.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
df['Robust_NOA'] = robust.fit_transform(df.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
df['Robust_TA'] = robust.fit_transform(df.Total_Accounts.values.reshape(-1, 1))


#MinMaxScaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))
#Loan_Amount_Requested
df['MM_LAR']=scaler.fit_transform(df.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
df['MM_LE']=scaler.fit_transform(df.Length_Employed.values.reshape(-1, 1))
#Annual_Income
df['MM_AI']=scaler.fit_transform(df.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
df['MM_DTI'] = scaler.fit_transform(df.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
df['MM_IL6'] = scaler.fit_transform(df.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
df['MM_MSD'] = scaler.fit_transform(df.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
df['MM_NOA'] = scaler.fit_transform(df.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
df['MM_TA'] = scaler.fit_transform(df.Total_Accounts.values.reshape(-1, 1))

#MaxAbsScaling
from sklearn.preprocessing import MaxAbsScaler
maxabs = MaxAbsScaler()
#Loan_Amount_Requested
df['MA_LAR']=maxabs.fit_transform(df.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
df['MA_LE']=maxabs.fit_transform(df.Length_Employed.values.reshape(-1, 1))
#Annual_Income
df['MA_AI']=maxabs.fit_transform(df.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
df['MA_DTI'] = maxabs.fit_transform(df.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
df['MA_IL6'] = maxabs.fit_transform(df.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
df['MA_MSD'] = maxabs.fit_transform(df.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
df['MA_NOA'] = maxabs.fit_transform(df.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
df['MA_TA'] = maxabs.fit_transform(df.Total_Accounts.values.reshape(-1, 1))

In [0]:
#Robust Scaling
from sklearn.preprocessing import RobustScaler
robust = RobustScaler()
#Loan_Amount_Requested
dft['Robust_LAR']=robust.fit_transform(dft.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
dft['Robust_LE']=robust.fit_transform(dft.Length_Employed.values.reshape(-1, 1))
#Annual_Income
dft['Robust_AI']=robust.fit_transform(dft.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
dft['Robust_DTI'] = robust.fit_transform(dft.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
dft['Robust_IL6'] = robust.fit_transform(dft.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
dft['Robust_MSD'] = robust.fit_transform(dft.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
dft['Robust_NOA'] = robust.fit_transform(dft.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
dft['Robust_TA'] = robust.fit_transform(dft.Total_Accounts.values.reshape(-1, 1))


#MinMaxScaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(-1,1))
#Loan_Amount_Requested
dft['MM_LAR']=scaler.fit_transform(dft.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
dft['MM_LE']=scaler.fit_transform(dft.Length_Employed.values.reshape(-1, 1))
#Annual_Income
dft['MM_AI']=scaler.fit_transform(dft.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
dft['MM_DTI'] = scaler.fit_transform(dft.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
dft['MM_IL6'] = scaler.fit_transform(dft.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
dft['MM_MSD'] = scaler.fit_transform(dft.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
dft['MM_NOA'] = scaler.fit_transform(dft.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
dft['MM_TA'] = scaler.fit_transform(dft.Total_Accounts.values.reshape(-1, 1))

#MaxAbsScaling
from sklearn.preprocessing import MaxAbsScaler
maxabs = MaxAbsScaler()
#Loan_Amount_Requested
dft['MA_LAR']=maxabs.fit_transform(dft.Loan_Amount_Requested.values.reshape(-1, 1))
#Length_Employed
dft['MA_LE']=maxabs.fit_transform(dft.Length_Employed.values.reshape(-1, 1))
#Annual_Income
dft['MA_AI']=maxabs.fit_transform(dft.Annual_Income.values.reshape(-1, 1))
#Debt_To_Income
dft['MA_DTI'] = maxabs.fit_transform(dft.Debt_To_Income.values.reshape(-1, 1))
#Inquiries_Last_6Mo
dft['MA_IL6'] = maxabs.fit_transform(dft.Inquiries_Last_6Mo.values.reshape(-1, 1))
#Months_Since_Deliquency
dft['MA_MSD'] = maxabs.fit_transform(dft.Months_Since_Deliquency.values.reshape(-1, 1))
#Number_Open_Accounts
dft['MA_NOA'] = maxabs.fit_transform(dft.Number_Open_Accounts.values.reshape(-1, 1))
#Total_Accounts
dft['MA_TA'] = maxabs.fit_transform(dft.Total_Accounts.values.reshape(-1, 1))

In [0]:
h2o_df = df.drop(['Loan_ID','Loan_Amount_Requested','Length_Employed','Annual_Income','Debt_To_Income','Inquiries_Last_6Mo','Months_Since_Deliquency'	,'Number_Open_Accounts','Total_Accounts'], axis = 1)
h2o_df_test = dft.drop(['Loan_ID','Loan_Amount_Requested','Length_Employed','Annual_Income','Debt_To_Income','Inquiries_Last_6Mo','Months_Since_Deliquency'	,'Number_Open_Accounts','Total_Accounts'], axis = 1)

In [0]:
h2o_df_test.to_csv("h2o_df_test.csv",index=False)
output = pd.read_csv("h2o_df_test.csv")
output.head()

   Gender  Mortgage  Own  Rent  ...  MA_IL6    MA_MSD    MA_NOA     MA_TA
0       1         1    0     0  ...     0.0  0.456376  0.119048  0.298387
1       1         1    0     0  ...     0.0  0.060403  0.071429  0.185484
2       1         0    0     1  ...     0.4  0.060403  0.059524  0.161290
3       1         1    0     0  ...     0.0  0.060403  0.071429  0.064516
4       1         1    0     0  ...     0.0  0.174497  0.107143  0.169355

[5 rows x 34 columns]

In [0]:
h2o_df.to_csv("h2o_df.csv",index=False)
output = pd.read_csv("h2o_df.csv")
output.head()

   Gender  Interest_Rate  Mortgage  Own  ...  MA_IL6    MA_MSD    MA_NOA     MA_TA
0       0              1         0    0  ...     0.0  0.050000  0.118421  0.089744
1       0              3         1    0  ...     0.0  0.094444  0.157895  0.153846
2       1              3         1    0  ...     0.0  0.050000  0.157895  0.102564
3       1              3         1    0  ...     0.6  0.050000  0.210526  0.141026
4       0              1         0    1  ...     0.2  0.050000  0.250000  0.192308

[5 rows x 35 columns]

In [0]:
!wget http://127.0.0.1:54321/3/DownloadDataset?frame_id=combined-prediction-1d5db52e-300e-4cee-97d9-dd874d4cf8bc

--2020-05-31 14:17:51--  http://127.0.0.1:54321/3/DownloadDataset?frame_id=combined-prediction-1d5db52e-300e-4cee-97d9-dd874d4cf8bc
Connecting to 127.0.0.1:54321... failed: Connection refused.

# Splitting

In [0]:
X = df.drop(['Loan_ID','Interest_Rate'], axis = 1)
y = df['Interest_Rate']

In [0]:
X = df.drop(['Loan_ID','Interest_Rate','Loan_Amount_Requested',	'Length_Employed',	'Annual_Income'	,'Debt_To_Income',	'Inquiries_Last_6Mo',	'Months_Since_Deliquency'	,'Number_Open_Accounts',	'Total_Accounts'], axis = 1)
y = df['Interest_Rate']

In [0]:
X.head()

   Gender  Mortgage  Own  Rent  ...  MA_IL6    MA_MSD    MA_NOA     MA_TA
0       0         0    0     1  ...     0.0  0.050000  0.118421  0.089744
1       0         1    0     0  ...     0.0  0.094444  0.157895  0.153846
2       1         1    0     0  ...     0.0  0.050000  0.157895  0.102564
3       1         1    0     0  ...     0.6  0.050000  0.210526  0.141026
4       0         0    1     0  ...     0.2  0.050000  0.250000  0.192308

[5 rows x 34 columns]

In [0]:
# Normalize feature variables
#from sklearn.preprocessing import StandardScaler
#X_features = X
#X = StandardScaler().fit_transform(X)

In [0]:
from sklearn.model_selection import GridSearchCV, train_test_split, RandomizedSearchCV
from sklearn.metrics import classification_report

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.9, random_state=0)

# XGBoost

In [0]:
import xgboost as xgb
xgb1 = xgb.XGBClassifier(silent=False)
#binary:logistic,multi:softmax
parameters = {'learning_rate':[0.01],
              'n_estimators':[5000],
              'gamma':[0],
              'max_depth':[3],
              'min_child_weigth':[1],
              'gpu_id':[0],
              'max_bin':[16],
              'tree_method':['gpu_hist'],
              'objective':['binary:logistic']
              }

In [0]:
rscvj1 = RandomizedSearchCV(xgb1,
                            parameters,
                            n_jobs=-1,
                            cv=2)
rscvj1.fit(X_train,y_train)
print("Best Parameters")
print(rscvj1.best_params_)
print("--------------------------------------------")
print("F1-Score")
print(classification_report(y_test, rscvj1.best_estimator_.predict(X_test)))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 1 is smaller than n_iter=10. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

Best Parameters
{'tree_method': 'gpu_hist', 'objective': 'binary:logistic', 'n_estimators': 5000, 'min_child_weigth': 1, 'max_depth': 3, 'max_bin': 16, 'learning_rate': 0.01, 'gpu_id': 0, 'gamma': 0}
--------------------------------------------
F1-Score
              precision    recall  f1-score   support

           1       0.50      0.26      0.34     30377
           2       0.49      0.61      0.55     63565
           3       0.57      0.55      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.52      0.48      0.48    147879
weighted avg       0.52      0.52      0.51    147879

In [0]:
X_test

### LightGBM

In [0]:
import lightgbm as lgb
lgb1 = lgb.LGBMClassifier()

parameters = {'learning_rate':[0.5],
              'n_estimators':[1000],
              'num_leaves':[200]}

In [0]:
rscvj2 = RandomizedSearchCV(lgb1,
                            parameters,
                            n_jobs=-1,
                            cv=2)
rscvj2.fit(X_train,y_train)
print("Best Parameters")
print(rscvj2.best_params_)
print("--------------------------------------------")
print("F1-Score")
print(classification_report(y_test, rscvj2.best_estimator_.predict(X_test)))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 1 is smaller than n_iter=10. Running 1 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

Best Parameters
{'num_leaves': 200, 'n_estimators': 1000, 'learning_rate': 0.5}
--------------------------------------------
F1-Score
              precision    recall  f1-score   support

           1       0.43      0.29      0.35      8474
           2       0.48      0.56      0.52     17549
           3       0.55      0.54      0.54     15055

    accuracy                           0.50     41078
   macro avg       0.49      0.46      0.47     41078
weighted avg       0.50      0.50      0.49     41078

# Test

In [0]:
h2o_out = pd.read_csv('/content/661876900b99.csv')
#h2o_out['predict']=pd.to_numeric(h2o_out['predict'])
h2o_out.head()

   predict        p1        p2        p3
0        2  0.248626  0.456524  0.294850
1        1  0.527002  0.386635  0.086364
2        3  0.100525  0.426847  0.472628
3        2  0.167860  0.509395  0.322745
4        2  0.155266  0.491937  0.352797

In [0]:
h2o_out.isnull().sum()

predict    0
p1         0
p2         1
p3         1
dtype: int64

In [0]:
sub['Interest_Rate']=h2o_out['predict']
sub.head()

    Loan_ID  Interest_Rate
0  10164310            2.0
1  10164311            1.0
2  10164312            3.0
3  10164313            2.0
4  10164314            2.0

In [0]:
#dft['out'] = xgbj1_grid.best_estimator_.predict(jun1t.drop(["DateTime","ID"], axis=1))

In [0]:
submit = dft
submit = submit.drop(['Loan_ID'], axis = 1)
#submit_features = submit
#submit = StandardScaler().fit_transform(submit)
submit

In [0]:
submit = dft
submit = submit.drop(['Loan_ID','Loan_Amount_Requested','Length_Employed','Annual_Income','Debt_To_Income','Inquiries_Last_6Mo','Months_Since_Deliquency','Number_Open_Accounts','Total_Accounts','out'], axis = 1)
submit

In [0]:
sub = pd.read_csv(path_sub)
sub.head()

    Loan_ID  Interest_Rate
0  10164310              1
1  10164311              1
2  10164312              1
3  10164313              1
4  10164314              1

In [0]:
dft['out'] = stacked_averaged_models.predict(submit)
dft['out'] = dft['out'].apply(np.floor)
dft['out'] = dft['out'].astype('int32')
sub['Interest_Rate']=dft['out']
sub.head()

    Loan_ID  Interest_Rate
0  10164310              2
1  10164311              1
2  10164312              2
3  10164313              2
4  10164314              2

In [0]:
dft['out'] = model.predict(submit)
sub['Interest_Rate']=dft['out']
sub.head()

    Loan_ID  Interest_Rate
0  10164310              2
1  10164311              1
2  10164312              3
3  10164313              2
4  10164314              2

In [0]:
sub.to_csv("output1.csv",index=False)
output = pd.read_csv("output1.csv")
output.head()

    Loan_ID  Interest_Rate
0  10164310            2.0
1  10164311            1.0
2  10164312            3.0
3  10164313            2.0
4  10164314            2.0

# **Stacking**

##Models

In [0]:
#Decision Tree
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier(random_state=1)
model1.fit(X_train, y_train)
y_pred1 = model1.predict(X_test)
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           1       0.29      0.31      0.30     30377
           2       0.45      0.45      0.45     63565
           3       0.46      0.45      0.46     53937

    accuracy                           0.42    147879
   macro avg       0.40      0.40      0.40    147879
weighted avg       0.42      0.42      0.42    147879

In [0]:
#RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier(random_state=1)
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_test)
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           1       0.46      0.24      0.31     30377
           2       0.48      0.61      0.54     63565
           3       0.54      0.52      0.53     53937

    accuracy                           0.50    147879
   macro avg       0.49      0.45      0.46    147879
weighted avg       0.50      0.50      0.49    147879

In [0]:
#AdaBoostClassifier
from sklearn.ensemble import AdaBoostClassifier
model3 = AdaBoostClassifier(random_state=1)
model3.fit(X_train, y_train)
y_pred3 = model3.predict(X_test)
print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           1       0.50      0.25      0.33     30377
           2       0.49      0.63      0.55     63565
           3       0.58      0.54      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.52      0.48      0.48    147879
weighted avg       0.53      0.52      0.51    147879

In [0]:
#GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingClassifier
model4 = GradientBoostingClassifier(random_state=1,n_estimators=1000)
model4.fit(X_train, y_train)
y_pred4 = model4.predict(X_test)
print(classification_report(y_test, y_pred4))

              precision    recall  f1-score   support

           1       0.47      0.29      0.36     30377
           2       0.49      0.59      0.54     63565
           3       0.57      0.55      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.51      0.48      0.49    147879
weighted avg       0.52      0.52      0.51    147879

In [0]:
#XGBClassifier
import xgboost as xgb
model5 = xgb.XGBClassifier(random_state=2)
model5.fit(X_train, y_train)
y_pred5 = model5.predict(X_test)
print(classification_report(y_test, y_pred5))

              precision    recall  f1-score   support

           1       0.55      0.15      0.23     30377
           2       0.49      0.68      0.57     63565
           3       0.57      0.55      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.54      0.46      0.45    147879
weighted avg       0.53      0.52      0.50    147879

In [0]:
from sklearn.ensemble import ExtraTreesClassifier
model6 = ExtraTreesClassifier(random_state=3)
model6.fit(X_train, y_train)
y_pred6 = model6.predict(X_test)
print(classification_report(y_test, y_pred6))

              precision    recall  f1-score   support

           1       0.42      0.23      0.30     30377
           2       0.48      0.58      0.52     63565
           3       0.53      0.52      0.53     53937

    accuracy                           0.49    147879
   macro avg       0.47      0.45      0.45    147879
weighted avg       0.48      0.49      0.48    147879

In [0]:
import lightgbm 
model7 = lightgbm.LGBMClassifier(random_state=3)
model7.fit(X_train, y_train)
y_pred7 = model7.predict(X_test)
print(classification_report(y_test, y_pred7))

              precision    recall  f1-score   support

           1       0.50      0.25      0.33     30377
           2       0.50      0.63      0.55     63565
           3       0.57      0.55      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.52      0.48      0.48    147879
weighted avg       0.53      0.52      0.51    147879

In [0]:
!pip install catboost
from catboost import Pool, CatBoostClassifier
model8 = CatBoostClassifier(random_state=3,logging_level='Silent')
model8.fit(X_train, y_train)
y_pred8 = model8.predict(X_test)
print(classification_report(y_test, y_pred8))

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
              precision    recall  f1-score   support

           1       0.48      0.29      0.36     30377
           2       0.49      0.60      0.54     63565
           3       0.56      0.55      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.51      0.48      0.48    147879
weighted avg       0.51      0.52      0.51    147879

## Simplest Stacking approach : Averaging base models

We begin with this simple approach of averaging base models. We build a new class to extend scikit-learn with our model and also to laverage encapsulation and code reuse

In [0]:
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
class AveragingModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    # we define clones of the original models to fit the data in
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)

        return self
    
    #Now we do the predictions for cloned models and average them
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

In [0]:
averaged_models = AveragingModels(models = (grid_search_gbr.best_estimator_,xgb_grid.best_estimator_, grid_search.best_estimator_))

In [0]:
averaged_models.fit(X,Y)
from sklearn.metrics import r2_score
print("R2-Score")
print(round(r2_score(Y_Val, averaged_models.predict(X_Val)),4))

## Less simple Stacking : Adding a Meta-model

In this approach, we add a meta-model on averaged base models and use the out-of-folds predictions of these base models to train our meta-model.

The procedure, for the training part, may be described as follows:

* Split the total training set into two disjoint sets (here train and .holdout )

* Train several base models on the first part (train)

* Test these base models on the second part (holdout)

* Use the predictions from 3) (called out-of-folds predictions) as the inputs, and the correct responses (target variable) as the outputs to train a higher level learner called meta-model.

The first three steps are done iteratively . If we take for example a 5-fold stacking , we first split the training data into 5 folds. Then we will do 5 iterations. In each iteration, we train every base model on 4 folds and predict on the remaining fold (holdout fold).

So, we will be sure, after 5 iterations , that the entire data is used to get out-of-folds predictions that we will then use as new feature to train our meta-model in the step 4.

For the prediction part , We average the predictions of all base models on the test data and used them as meta-features on which, the final prediction is done with the meta-model.

In [0]:
from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
class StackingAveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, base_models, meta_model, n_folds=5):
        self.base_models = base_models
        self.meta_model = meta_model
        self.n_folds = n_folds
   
    # We again fit the data on clones of the original models
    def fit(self, X, y):
        self.base_models_ = [list() for x in self.base_models]
        self.meta_model_ = clone(self.meta_model)
        kfold = KFold(n_splits=self.n_folds, shuffle=True, random_state=156)
        
        # Train cloned base models then create out-of-fold predictions
        # that are needed to train the cloned meta-model
        out_of_fold_predictions = np.zeros((X.shape[0], len(self.base_models)))
        for i, model in enumerate(self.base_models):
            for train_index, holdout_index in kfold.split(X, y):
                instance = clone(model)
                self.base_models_[i].append(instance)
                instance.fit(X[train_index], y[train_index])
                y_pred = instance.predict(X[holdout_index])
                out_of_fold_predictions[holdout_index, i] = y_pred
                
        # Now train the cloned  meta-model using the out-of-fold predictions as new feature
        self.meta_model_.fit(out_of_fold_predictions, y)
        return self
   
    #Do the predictions of all base models on the test data and use the averaged predictions as 
    #meta-features for the final prediction which is done by the meta-model
    def predict(self, X):
        meta_features = np.column_stack([
            np.column_stack([model.predict(X) for model in base_models]).mean(axis=1)
            for base_models in self.base_models_ ])
        return self.meta_model_.predict(meta_features)

In [0]:
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.linear_model import ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.kernel_ridge import KernelRidge
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import KFold
from sklearn.preprocessing import RobustScaler

In [0]:
#Lasso Regression
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0005, random_state=1))
#Elastic Net Regression
ENet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))
#Kernel Ridge Regression
KRR = KernelRidge(alpha=0.6, kernel='polynomial', degree=2, coef0=2.5)

In [0]:
new_ytrain = y_train.values.reshape(16430,1)

In [0]:
new_ytrain.shape

(16430, 1)

In [0]:
stacked_averaged_models = StackingAveragedModels(base_models = (model3,model4),
                                                 meta_model = lasso)

stacked_averaged_models.fit(X_train.values,y_train.values)
#print("R2-Score")
#print(round(r2_score(Y_Val.values, stacked_averaged_models.predict(X_Val.values)),4))

StackingAveragedModels(base_models=(AdaBoostClassifier(algorithm='SAMME.R',
                                                       base_estimator=None,
                                                       learning_rate=1.0,
                                                       n_estimators=50,
                                                       random_state=1),
                                    GradientBoostingClassifier(ccp_alpha=0.0,
                                                               criterion='friedman_mse',
                                                               init=None,
                                                               learning_rate=0.1,
                                                               loss='deviance',
                                                               max_depth=3,
                                                               max_features=None,
                                                               max_leaf_nodes=None,
                                                               min_impurity_decrease=0.0,
                                                               min_impurity_split=...
                       meta_model=Pipeline(memory=None,
                                           steps=[('robustscaler',
                                                   RobustScaler(copy=True,
                                                                quantile_range=(25.0,
                                                                                75.0),
                                                                with_centering=True,
                                                                with_scaling=True)),
                                                  ('lasso',
                                                   Lasso(alpha=0.0005,
                                                         copy_X=True,
                                                         fit_intercept=True,
                                                         max_iter=1000,
                                                         normalize=False,
                                                         positive=False,
                                                         precompute=False,
                                                         random_state=1,
                                                         selection='cyclic',
                                                         tol=0.0001,
                                                         warm_start=False))],
                                           verbose=False),
                       n_folds=5)

In [0]:
print("F1-Score")
print(classification_report(y_test,stacked_averaged_models.predict(X_test)))

## Bagging

In [0]:
from sklearn.ensemble import BaggingClassifier
from sklearn import tree
model = BaggingClassifier(RandomForestClassifier(random_state=1))
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.5080640253179964

## Voting Classifier

In [0]:
from sklearn.ensemble import VotingClassifier
model = VotingClassifier(estimators=[('l5', model5), ('l6', model6), ('l4', model4),('l3', model3), ('l2', model2)], voting='hard')
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.524070354817114

In [0]:
print("F1-Score")
print(classification_report(y_test,model.predict(X_test)))

F1-Score
              precision    recall  f1-score   support

           1       0.53      0.19      0.28     30377
           2       0.49      0.67      0.57     63565
           3       0.58      0.54      0.56     53937

    accuracy                           0.52    147879
   macro avg       0.53      0.47      0.47    147879
weighted avg       0.53      0.52      0.51    147879